*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Cario', sans-serif;
    text-transform: capitalize;
    background-color: #efefef;
    overflow: hidden;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;

}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media(min-width:992px)
{
    .container{
        width: 970px;
    }
}
@media(min-width:1200px)
{
    .container{
        width: 1170px;
    }
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to bottom, #f1f4f9,#dff1ff);

}
section .alaa{
    position: absolute;
    filter: blur(150px);
}
section .alaa:nth-child(1){
    width: 600px;
    height: 600px;
    background: #ff359b;
    top: -350px;
}
section .alaa:nth-child(2){
    width: 500px;
    height: 500px;
    bottom: -150px;
    background:yellow;
    left: 100px;
}
section .alaa:nth-child(3){
    width: 300px;
    height: 300px;
    bottom: 50px;
    background:#00d2ff;
    right: 100px;
    
}
section.box{
    position: relative;
}
section .box .alaa1{
    position:absolute;
    border: 1px solid rgba(255,255,255,0.5);
    border-top: 1px solid rgba(255,255,255,0.2);
    border-bottom:1px solid rgba(255,255,255,0.2); 
    background: rgba(255,255,255,0.1);
    box-shadow: 0 15px 35px rgb(0 0 0 /10%);
    border-radius: 10px;
    /* -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -o-border-radius:10px; */
    backdrop-filter: blur(5px);
    animation: alaa1 5s linear infinite;
    animation-delay:calc(-1s* var(--i));


}
@keyframes alaa1{
    0%,100%{
        transform:translate(-50px);
        -webkit-transform: translateY(-50px);
        -moz-transform: translateY(-50px);
        -ms-transform: translateY(-50px);
        -o-transform: translateY(-50px);
    }
    50%{
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform:  translateY(0);
        -ms-transform:  translateY(0);
        -o-transform:  translateY(0);

    }
}
    
 section .box .alaa1:nth-child(1){
        width: 100px;
        height: 100px;
        right: -80px;
        left:-60px;
}
section .box .alaa1:nth-child(2){
    width: 50px;
    height: 50px;
    left: 30%;
    top:-60px;
}
/* section .box .alaa1:nth-child(3){
    width: 120px;
    height: 120px;
    left: 100px;
    top:50%;
    z-index: 1;
} */
section .box .alaa1:nth-child(4){
    width: 80px;
    height: 80px;
    right: -60px;
    bottom: 30%;
    z-index: 1;
}

section .box .alaa1:nth-child(5){
    width: 50px;
    height: 50px;
    left: 40%;
    bottom: -60%;
        
}
section .box .container{
    width: 400px;
    height: 400px;
    position: relative;
    border: 1px solid rgba(255,255,255,0.5);
    border-top: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    background: rgba(255,255,255,0.1);
    box-shadow: 0 15px 35px rgb(0 0 0 /10%);
    border-radius: 10px;
    
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
}
section .box .container .form{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;

}
section .box .container .h2
{
    position: relative;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 40px;
    letter-spacing: 1px;

}
section .box .container .h2::before{
    content: "";
    position: absolute;
    height: 4px;
    background: #fff;
    width: 80px;
    left: 0;
    bottom: -10px;

}
section .box .container .shebox{
    width:100%;
    margin-top: 20px;
}
section .box .container .shebox input{
    width: 100%;
    padding: 10px 15px;
    border-radius: 30px;
    outline: none;
    border: 1px solid rgba(255,255,255,0.5);
    border-top: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    background: rgba(255,255,255,0.2);
    box-shadow: 0 15px 35px rgb(0 0 0 /5%);
    color: #fff;
}
section .box .container .shebox input:placeholder{
    color:#fff;
    letter-spacing: 1px;
}
section .box .container .shebox input[type="submit"]{
    color:#666;
    max-width: 100px; 
    padding: 10px 20px;
    background: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 20px;
    cursor: pointer;
}
section .box .container p{
    color: #fff;
    margin-top: 5px;

}
section .box .container p a{
    color: #fff;
    font-weight: 700;
}